#reviewback {
    background-image: url('https://i.ibb.co/N2fhyhb/152-1526768-the-mana-curve-is-the-idea-that-you.png');
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: #c23636; */
    background-image: radial-gradient(rgb(223, 255, 220), rgb(252, 253, 253));
}